<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<style>
    body{
    background-color: rgb(171, 209, 150);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
</style>
<body>
    <div id="main"></div>
    <h1 align = "center"><i>Thank you for giving the feedback</i></h1>
    <br>
    <br>
    <br>
    These are the details that you have entered......................
    <br>
    <br>
    <br>
        Name: {{name}}
        <br>
        <br>
        ROll no: {{rollno}}
        <br>
        <br>
        Email: {{email}}
        <br>
        <br>
        Contact: {{contact}}
        <br>
        <br>
        Date: {{date}}
        <br>
        <br>
        branch:{{option}}
        <br>
        <br>
        courses enrolled:{{courses}}
        <br>
        <br>
        Feedback given:{{choice}}
        <br>
        <br>
        Thanks for choosing this course on {{courses}}

        <!--<input type = "submit" value = "submit">-->
    </form>
</div>
</body>
</html>